@import '../../sass/variables.scss';
@import '../../sass/functions.scss';

.all-cv {
  background-color: $red;
  @include flexBox(row, center);
  padding: 50px 0;

  .content {
    h4 {
      font-size: 30px;
      color: $white;
      text-align: center;
      margin-bottom: 30px;
    }

    .center-button {
      @include flexBox(row, center);

      a {
        color: $red;
        background-color: $white;
        text-decoration: none;
        padding: 5px 25px;
        border-radius: 5px;
        font-family: MontserratBold;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
