@import '../../../sass/variables.scss';
@import '../../../sass/functions.scss';

.all-profile-card {
  background-color: rgb(232, 232, 232);
  padding: 15px;
  border-radius: 10px;
  min-height: 160px;
  margin-bottom: 20px;
  p {
    margin-bottom: 0;
  }
}
