@import "../../sass/variables.scss";
@import "../../sass/functions.scss";

.elipse {
  position: relative;
  $elipseheight: 25px;
  width: 98w;
  height: $elipseheight;
  bottom: -($elipseheight/2);
  background-color: $white;
  border-radius: 50%;
}
