@import "../../sass/variables.scss";
@import "../../sass/functions.scss";

.all-about {
  width: 100%;
  @include flexBox(row, center);
  .content {
    width: $widthPagePorcentage;

    .flex-content {
      @include flexBox(row, space-between);

      p {
        font-family: MontserratRegular;
        width: 48%;
        font-size: $lg;
      }

      .stack {
        @include flexBox(row, center);
        width: 40%;
        flex-wrap: wrap;
        .flex-stack {
          display: flex;
          .flex-space {
            @include horizontalSpace(20px);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .all-about {
    .content {
      .flex-content {
        display: flex;
        flex-direction: column;

        p {
          width: 100%;
          text-align: center;
          margin-bottom: 30px;
          font-size: $md;
        }

        .stack {
          @include flexBox(row, center);
          width: 100%;
          height: 250px;
          flex-wrap: wrap;
          .flex-stack {
            display: flex;
            .flex-space {
              @include horizontalSpace(20px);
            }
          }
        }
      }
    }
  }
}
