@import '../../sass/variables.scss';
@import '../../sass/functions.scss';

.all-contact {
  @include flexBox(column, space-between);
  .center-content {
    width: 100%;
    @include flexBox(row, center);
    .content {
      width: $widthPagePorcentage;

      .flex-topics {
        @include flexBox(row, space-between);
        $imageSize: 40px;
        img {
          width: $imageSize;
          height: $imageSize;
          margin-right: 20px;
        }
      }
    }
  }
  .bottom {
    margin-top: 50px;
    background-color: $black;

    p {
      font-family: MontserratSemiBold;
      padding: 8px 0;
      margin: 0;
      font-size: $md;
      align-self: center;
      text-align: center;
      color: $white;
    }
  }
}

@media only screen and (max-width: 600px) {
  .all-contact {
    .center-content {
      .content {
        .flex-topics {
          flex-direction: column;
          .flex-space {
            @include verticalSpace(20px);
          }
        }
      }
    }
  }
}
