@import '../../sass/variables.scss';
@import '../../sass/functions.scss';

.all-page1 {
  @include flexBox(row, center);
  width: 100%;
  input {
    width: 100%;
    border-radius: 10px;
    border-style: none;
    border: 2px solid lightgray;
    padding: 10px 15px;
    background-color: #f1f1f1;
    &:focus {
      outline: none;
      border-color: lightslategray;
    }
  }
}

.content {
  width: $widthPagePorcentage;
}

.verical-space {
  @include verticalSpace(20px);
}
