@import '../../sass/functions.scss';
@import '../../sass/variables.scss';

.all-stack-component {
  border: none;
  @include flexBox(column, center);
  height: 40px;
  padding: 0px 10px;
  border-radius: 5px;
  background-color: transparent;
  border: 3px solid $black;
  color: $black;
  span {
    font-family: MontserratBold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
}

.small {
  height: 30px;
  span {
    font-size: $sm;
  }
}

@media only screen and (max-width: 600px) {
  .all-stack-component {
    height: 30px;
    span {
      font-size: $sm;
    }
  }
}
